@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
html {
  height: 100vh;
}
body {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #d0d0d0;
}
header {
  position: relative;
  height: 1rem;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  background: url(../images/html_imgs/head_bg.png) no-repeat top center;
  background-size: 100% 100%;
}
header h1 {
  font-size: 0.45rem;
  color: #b9b7b7;
  text-align: center;
  line-height: 1rem;
}
header .showTime {
  position: absolute;
  top: 0;
  right: 0.375rem;
  line-height: 0.9375rem;
  font-size: 0.25rem;
  color: rgba(255, 255, 255, 0.7);
}
.mainbox {
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.1rem 0.1rem 0;
  width: 100%;
  position: absolute;
  top: 1rem;
  bottom: 0rem;
}
.mainbox .topbox {
  height: 0.5rem;
  font-size: 0.25rem;
  color: #333;
  text-align: center;
  line-height: 0.5rem;
}
.mainbox .bottombox {
  width: 100%;
  position: absolute;
  top: 0.5rem;
  bottom: 0;
  display: flex;
}
.mainbox .bottombox .bot {
  flex: 1;
  padding: 0.5rem 0 0 0;
}
.mainbox .bottombox .bot .select_box {
  display: flex;
  /* 主轴居中对齐。 */
  justify-content: center;
}
.mainbox .bottombox .bot .chart_box {
  width: 50%;
  position: absolute;
  top: 1rem;
  bottom: 0;
}
.mainbox .bottombox .bot .chart_box .chart {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.5rem;
  margin-left: -3.5rem;
  z-index: 5;
  width: 7rem;
  height: 5rem;
}
.mainbox .bottombox .bot .chart_box .chart img:not([src]) {
  opacity: 0;
}
.mainbox .bottombox .bot .chart_box .chart img {
  width: 100%;
  height: 100%;
}
.mainbox .bottombox .bot .chart_box .map {
  width: 100%;
  height: 100%;
  position: relative;
}
.mainbox .bottombox .bot .chart_box .map .map1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 6rem;
  background: url(../images/html_imgs/map.png) no-repeat;
  background-size: 100% 100%;
  opacity: 0.3;
}
.mainbox .bottombox .bot .chart_box .map .map2 {
  position: absolute;
  width: 7rem;
  height: 7rem;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  background-size: 100% 100%;
  background-image: url(../images/html_imgs/jt.png);
  animation: rotate 10s linear infinite;
}
